
GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_LOCATION=global
GOOGLE_CLOUD_PROJECT=SEU_PROJECT_ID_GOOGLE_CLOUD
CLIENT_NAME="Fernanda"
COMPANY_NAME="Banco Amaral"
SOTAQUE="Mineiro"
BUCKET_NAME=SEU_BUCKET_GOOGLE_CLOUD
